// About content

// header h1 {
//    // border: 2px solid black;
//     text-align: center;
//     padding: 3.5%;
//     background-color: @milk-chocolate;
//     border-radius: 5px;
// }

.main-home {
    padding: 3.5%;
    background-color: @milk-chocolate;
    border-radius: 5px;
    display: flex;

    h1 {
        width: 100%;
        color: @smoke;
    }

    .menu-items {
        font-size: 1.5em;
        color: black;
        width: 30%;
        //padding-left: 5%;
        //padding-left: 10%;

        a {
            padding-left: 4%;
            padding-right: 4%;
            color: @smoke;
        }
    } 
} // ends main-home

.main-section {
    background-color: @vanilla;
    margin-top: 1%;

    img {
        border-radius: 50%;
    }

    .intro-top {
       display: flex;  
       margin-bottom: 7%;
       padding-left: 3.5%;
       
       .one {
           justify-content: center;
       }

       p {
           text-align: center;
       }
    }

    .intro-bottom {
        display: flex;
        padding-left: 3.5%;

        p {
            text-align: center;
        }
    
    }
}

