

.main-section {
    background-color: @vanilla;
    padding: 3% 1% 0% 1%; 
    border-radius: 5px;
    margin-bottom: 0.5%;


    img {
        border-radius: 50%;
        width: 95%;
        height: 280px;

        @media @tablet {
            &:hover {
                width: 100%;
                -webkit-transform: scale(0.8);
                -ms-transform: scale(0.8);
                transform: scale(0.8);
              } 
        }

        @media @phone {
            border-radius: 50%;
            height: 200px;
            border: 5px solid rgb(165, 130, 40);
        }
    }

    .intro-top {
       display: flex;
       margin-bottom: 7%;
       padding-left: 3.5%;

       @media @tablet {
        flex-direction: column;
        text-align: center;
        width: 80%;
        font-size: 1.4rem;
        padding-left: 22%;

       }

       @media @phone {
           flex-direction: column;
           text-align: center;
           width: 85%;
           padding-left: 20%;
           font-size: 2.5vmin;
       }
     
       
       p {
           text-align: center;
       }
    }

    .intro-bottom {
        display: flex;
        padding-left: 3.5%;

        @media @tablet {
            flex-direction: column;
            text-align: center;
            width: 80%;
            font-size: 1.4rem;
            padding-left: 22%;
           }

        @media @phone {
            flex-direction: column;
            text-align: center;
            width: 85%;
           padding-left: 20%;
           font-size: 3.5vmin;
        }

        p {
            text-align: center;
        }
    
    }
}


