// Home Content

.home {
  
  .mainHome {
    background-color: @vanilla;
    padding: 3% 1% 0% 1%;
    .cta {
       
      h1 {
        
      }

      h3 {
        font-size: 2.0rem;
        color: gray;
        margin-bottom: 2%;
      }

      .btn {
        display: flex;
        justify-content: center;
      }

    }

  }

  .footerHome {
    background-color: @footer-bg;
  }

}// End Home