// Navigation code here

.home {
  
  header {
    
    .navigator {
      display: flex;
      justify-content: space-between;
      background-color: @nav-bg;
      color: @nav-color;
      padding: 2% 3% 2% 3%;
      border-radius: 5px;
      margin-bottom: 0.5%;

      h1 {
        font-size: 3.5vmin; 
      }
      
      .navLinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        
        .link_nav {
          text-decoration: none;
          color: @nav-color;
          font-size: 1.4em;
        }
      }

    }

  }

}

// About Navigation code here


.main-home {
  display: flex;
  justify-content: space-between;
  background-color: @nav-bg;
  color: @nav-color;
  padding: 2% 3% 2% 3%;
  border-radius: 5px;
  margin-bottom: 0.5%;
  
  h1 {
    font-size: 3.5vmin; 
  }

  .menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

    .link_nav {
      text-decoration: none;
      color: @nav-color;
      font-size: 1.4em;
    }

  }
}